<div class="new">
<form method="post" action="/list/new">
  <label for="name-input" class="block mar-b-1">Название:</label>
  <input id="name-input" name="name" type="text"  tabindex="1"
    class="block w-100 no-outline no-border pad-1 mar-b-2">

<p>Если хочешь поделиться своим списоком с другом, добавь его Email</p>
  <label for="email-input" class="block mar-b-1">Email:</label>
  <input id="email-input" name="email" type="text"  tabindex="1"
    class="block w-100 no-outline no-border pad-1 mar-b-2">

  <input type="submit" value="Добавить" tabindex="3"
    class="button btn-add">
</form>
</div>
