body {
  margin: 0;
}
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #f08839;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
 

  text-decoration: none;

  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #f08839;
}
.hamburger-menu {
  background-color: #ECEFF1;
  width: 100%;
  height: 65px;
}
.menu_exit {
  display: flex;
  justify-content: end;
  position: relative;
  right: 40px;
  color: #333;
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  text-decoration: none;
}
.menu_label{
  margin: unset;
  position: absolute;
  top: 22.5px;
  right: 44%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #333;
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  /* text-decoration: none; */
}
.list{
  /* margin-top: 10px; */
  /* display: flex; */
  /* justify-content: center; */
  margin: 0;
  list-style-type: none;
}
a{
  text-decoration: none;
  color: black;
}
.add-list{
  display: flex;
  justify-content: end;
  margin-right: 200px;
  margin-left: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.list_box{
  /* background-color: #ECEFF1; */
  /* display: block;  */
  list-style: none;
  height: 100%;
  transition-duration: .25s;
  width: 100%;
  margin: 0;
  padding: 0;
}
.list_item {
  margin: 0px;
  padding: 12px;
  /* color: #333; */
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  text-decoration: none;
  transition-duration: .25s;
  text-align: center;
}
.list_item:hover {
  background-color: #f08839;
}
.button {
  background-color: #ebe8e8; 
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn-add {
color: black;
border: 1px solid #cbcbcb;
}
.btn-add:hover {background-color: #f08839;}
.new{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.tema{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-family:'Courier New', Courier, monospace;
  text-decoration: none;
  font-size: 30px;
}
.task-body{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.taskForm{
  height: 19px;

}
.form-control{
  /* width:  200px; */
  height: 17px; 
  padding: 5px 10px 5px 10px;
  border:1px solid #999;
  font-size:16px;
  box-shadow: 1px 0px 6px rgba(232, 125, 72, 0.2);
}
.btn-plus{
 width: 18px;
 height: 19px;
}

.task-body {
  position: relative;

}

.todo__text {
  outline: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  padding: 6px 34px 6px 10px;
  width: 225px;
}

.todo__text:focus {
  border-color: #e06f1e;
}

.todo__add {
  position: absolute;
  /* right: 1px; */
  top: 50%;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.15s ease-in;
}

.tod__add {
  position: absolute;
  right: -2px;
  top: 50%;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.15s ease-in;
}

.todo__add:hover {
  background-color: #ffffff;
}
.taska{
  margin-top: 10px;
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;

  background-color: #fafafa;
  padding: 10px 15px 10px 10px;
  /* position: relative; */
  overflow: hidden;
}

.taska:not(:last-child) {
  margin-bottom: 0.5rem;
}
.cool{
  position: relative;
  top: 30px;
  /* display: flex;
  justify-content: center; */
  right: 40%;
  /* bottom: 10px; */
}
.delete{
  position: relative;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  /* display: flex;
  justify-content: center; */
  left: 40%;
  bottom: 20px;
  /* transform: translateY(-50%);
  background-color: #ffffff; */
  /* cursor: pointer; */
  /* transition: background-color 0.15s ease-in; */
}
.deleteIm{
  position: relative;
  width: 40px;
}
.delete:hover {
  background-color: #fafafa;
}
.reg{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.task-text{
  position: relative;
  top: 30px;
}
